<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">
            <h3 class="mb-0">Perguntas</h3> 
        </a>
    </div>
</nav>